body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 0.5% 0;
  width: 10%;
  height: 30px;
  border-color: black;
  background-color: #c4c4c4;
  border-width: 1px;
  border-radius: 5px;
}

.container {
  width: 100%;
}

.container .initial_bar {
  width: 70%;
  margin: 5% auto;
  height: 20vh;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.container .initial_bar .search_bar ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  text-align: right;
}

.container .initial_bar .search_bar :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  text-align: right;
}

.container .initial_bar .search_bar ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  text-align: right;
}

.container .initial_bar .search_bar ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  text-align: right;
}

.container .initial_bar .search_bar input {
  padding: 2px;
  width: 100%;
  height: 30px;
  border-color: black;
  background-color: #c4c4c4;
  border-width: 1px;
  border-radius: 5px;
}

main {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

main .main_list {
  width: 80%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
}

main .main_list .head-table {
  width: 100%;
  height: 10%;
  margin-bottom: 1rem;
}

main .main_list .head-table .columns {
  width: 85%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c4c4c4;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main_list .head-table .columns li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 25%;
  text-align: center;
  border: black solid 1px;
}

main .main_list .main_list_feed {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main_list .main_list_feed .left-side {
  width: 85%;
}

main .main_list .main_list_feed .left-side .columns {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c4c4c4;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  margin-top: 1rem;
}

main .main_list .main_list_feed .left-side .columns li {
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 25%;
  text-align: center;
  border: black solid 1px;
}

main .main_list .main_list_feed .right-side {
  width: 15%;
  height: 100%;
}

main .main_list .main_list_feed .right-side .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  width: 80%;
  height: 100%;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  margin-top: 1rem;
}

.main-container {
  width: 80%;
  height: 75%;
  border: black solid 1px;
  background-color: #fafafa;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .delete-checkbox {
  width: 100%;
  margin-top: 1rem;
}

.edit-email h2 {
  margin-bottom: 2rem;
}

.edit-email input {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */